<%= form_with(model: analysis, local: true) do |form| %>
  <% if analysis.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(analysis.errors.count, "error") %> prohibited this analysis from being saved:</h2>

      <ul>
      <% analysis.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :analysis_name %>
  </div>

  <div class="field">
    <%= form.label :descriptioni %>
    <%= form.text_area :descriptioni, id: :analysis_descriptioni %>
  </div>

  <div class="field">
    <%= form.label :seq_blood1 %>
    <%= form.text_area :seq_blood1, id: :analysis_seq_blood1 %>
  </div>

  <div class="field">
    <%= form.label :seq_blood2 %>
    <%= form.text_area :seq_blood2, id: :analysis_seq_blood2 %>
  </div>

  <div class="field">
    <%= form.label :seq_brain1 %>
    <%= form.text_area :seq_brain1, id: :analysis_seq_brain1 %>
  </div>

  <div class="field">
    <%= form.label :seq_brain2 %>
    <%= form.text_area :seq_brain2, id: :analysis_seq_brain2 %>
  </div>

  <div class="field">
    <%= form.label :project_id %>
    <%= form.text_field :project_id, id: :analysis_project_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
