
        <!-- page content -->
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Data Detail <small>   <strong>Type:</strong> <%= @datum.data_type %> </small></h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><strong>Name:</strong> <%= @datum.name %></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">

                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <div>
                      <!-- data content -->
                            <pre><%= @datum.content %></pre>
                      </div>

                      <div>

                        <h4>Analysis List</h4>

                        <!-- /.row -->
                        <div class="clearfix"></div>
                        <!-- Table row -->
                        <div class="row">
                          <div class="col-xs-12 table">
                            <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th>#</th>
                                  <th>Name</th>
                                  <th>Description</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                              <% if @analysis != nil %>
                                <% @analyses.each do |analysis| %>
                                <tr>
                                  <td><%= analysis.id %></td>
                                  <td><%= analysis.title %></td>
                                  <td><%= analysis.description %></td>
                                  <td><!-- %= link_to 'Show', project_datum_path(@project, datum.id) % -->
                                  <!-- %= link_to 'Edit', edit_project_datum_path(@project, datum) % --></td>
                                </tr>
                                <%end%>
                              <% else %>
                                <tr><td colspan="4">Try our fisrt analysis with this data </td></tr>
                              <% end %>
                              </tbody>
                            </table>
                          </div>
                          <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        <!-- this row will not appear when printing -->
                        <div class="row no-print">
                          <div class="col-xs-12">              

                            <%= link_to 'Back', project_path(@project), :class=>"btn btn-success pull-right" %>
                            <%= link_to 'Edit', edit_project_datum_path(@datum), :class=>"btn btn-success pull-right" %> 
                            <button class="btn btn-primary pull-right" style="margin-right: 5px;"><i class="fa fa-wrench"></i> New Analysis </button>
                          </div>
                        </div>

                      </div>


                    </div>

                    <!-- start project-detail sidebar -->
                    <div class="col-md-3 col-sm-3 col-xs-12">

                      <section class="panel">

                        <div class="x_title">
                          <h2>Data statistics</h2>
                          <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                          <h3 class="green"><i class="fa fa-paint-brush"></i> <%= @datum.name %></h3>

                          <p><%= @datum.name %></p>
                          <br />

                          <div class="project_detail">

                            <p class="title">Data type</p>
                            <p>FASTA</p>
                            <p class="title">Created date</p>
                            <p>2018/1/17</p>
                          </div>

                          <br />
                          <h5>Sequence info</h5>
                          <ul class="list-unstyled project_files">
                            <li><a href=""><i class="fa fa-file-word-o"></i> Length : 123bp</a>
                            </li>
                            <li><a href=""><i class="fa fa-file-pdf-o"></i> GC % : 45%</a>
                            </li>
                            <li><a href=""><i class="fa fa-mail-forward"></i> etc </a>
                            </li>
                            <li><a href=""><i class="fa fa-picture-o"></i> etc</a>
                            </li>
                            <li><a href=""><i class="fa fa-file-word-o"></i> etc</a>
                            </li>
                          </ul>
                          <br />
                        </div>

                      </section>

                    </div>
                    <!-- end project-detail sidebar -->

                  </div>
                </div>
              </div>
            </div>
          </div>

        <!-- /page content -->